:root {
  --color-primary : rgb(156, 149, 172);
  --color-font    : rgb(17, 2, 2);
  --color-white   : rgb(255, 255, 255);
  --color-black   : rgb(0, 0, 0);
}

.sectionHeading {
  font-size : 2.5rem;
}

*,
*::before,
*::after {
  margin     : 0;
  padding    : 0;
  border     : 0;
  box-sizing : border-box;
}

html {
  font-size : 16px;
}

@media screen and (max-width : 1400px) {
  html {
    font-size : 14px;
  }
}

@media screen and (max-width : 1200px) {
  html {
    font-size : 12px;
  }
}

@media screen and (max-width : 991px) {
  html {
    font-size : 10px;
  }
}

@media screen and (max-width : 767px) {
  html {
    font-size : 9px;
  }
}

@media screen and (max-width : 575px) {
  .sectionHeading {
    font-size : 1.5rem;
  }
}

body {
  font-family : "Comfortaa", cursive;
  color       : var(--color-font);
}

/* header and navbar*/
.header {
  padding  : 1rem 2rem;

  /*
  position: -webkit-sticky;
  position: sticky;
  */
  position : fixed;
  top      : 0;
  left     : 0;
  z-index  : 3;
}

.header-logo {
  width  : 12rem;
  height : 4rem;
}

.header--on-scroll {
  box-shadow       : 0 3px 12px rgba(0, 0, 0, 0.2);
  background-color : #E8E8E4;
}

.header--bg {
  background-color : #534A66;
}

.navbar-collapse {
  flex-grow : 0;
  position  : relative;
  right     : -2.5rem;
}

.navbar-button {
  background-color : #DDDDDD;

  height           : 2.5rem;
  width            : 3rem;
  border-radius    : 2px;

  cursor           : pointer;
  padding          : 0.25rem 0.75rem;

  position         : relative;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline    : none;
  box-shadow : none;
}

.navbar-icon {
  display          : block;
  width            : 1.4rem;
  height           : 2.5px;
  background-color : var(--color-primary);
  transition       : all 0.2s;

  position         : absolute;
  left             : 50%;
  top              : 50%;
  transform        : translate(-50%, -50%);
  transform-origin : center;
}

.navbar-icon1 {
  transform : translate(-50%, -7px);
}

.navbar-icon3 {
  transform : translate(-50%, 5px);
}

.rotate-right {
  transform : translate(-50%, 0) rotate(135deg);
}

.rotate-left {
  transform : translate(-50%, 0) rotate(-135deg);
}

.nav-item {
  margin : 0.5rem 0.8rem;
}

.nav-link {
  position : relative;
  padding  : 0;
}

.nav-link:link,
.nav-link:visited {
  font-size       : 1.6rem;
  color           : var(--color-font) !important;
  text-decoration : none;
}

.nav-link:hover:before,
.nav-link:active:before {
  width : 100%;
}

.nav-link:before {
  content          : "";
  width            : 0;
  height           : 3px;
  background-color : var(--color-primary);
  position         : absolute;
  left             : 0;
  bottom           : -15%;
  transition       : all 0.2s ease-in;
}

.nav-link--white {
  position : relative;
}

.nav-link--white:link,
.nav-link--white:visited {
  color : var(--color-white) !important;
}

.nav-link--white:hover:before,
.nav-link--white:active:before {
  width : 100%;
  color : var(--color-primary);
}

.nav-link--white:before {
  background-color : var(--color-white) !important;
}

.nav-chevron-down {
  width     : 30px;
  height    : 30px;
  fill      : var(--color-font);

  position  : absolute;
  right     : -18px;
  top       : 50%;
  transform : translateY(-50%);
}

.nav-chevron-down--white {
  fill : var(--color-white);
}

.dropdown-menu--white {
  background-color : #EEEEE8;
  border           : 1px solid #CACACA;
  box-shadow       : 0 2px 15px 1px rgba(0, 0, 0, 0.3);
  border-radius    : 0;
}

.dropdown-menu--white a,
.dropdown-menu--white a:link,
.dropdown-menu--white a:visited {
  padding          : 0.5rem 2rem;
  background-color : #EEEEE8;
}

.dropdown-menu--white a:hover,
.dropdown-menu--white a:active {
  font-weight      : bold;
  background-color : #DDDDDD;
}

.animation {
  -webkit-animation-duration  : 0.3s;
  animation-duration          : 0.3s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
}

.slideDownIn {
  -webkit-animation-name : slideDownIn;
  animation-name         : slideDownIn;
}

@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform : translateY(-20px);
  }
  100% {
    -webkit-transform : translateY(0);
  }

  0% {
    -webkit-transform : translateY(-20);
  }
}

@keyframes slideDownIn {
  0% {
    transform : translateY(-20px);
  }
  100% {
    transform : translateY(0);
  }
  0% {
    transform : translateY(-20px);
  }
}

@media screen and (max-width : 991px) {
  .headerLogo {
    left : 0;
  }

  .navbar-collapse {
    right : 0;
  }

  .nav-link:hover,
  .nav-link:active {
    color       : rgb(53, 52, 52) !important;
    font-weight : bold;
  }

  .nav-link::before {
    height : 0;
  }

  .nav-link--white:hover,
  .nav-link--white:active {
    color : var(--color-white) !important;
  }

  .navbar-nav {
    margin-top : 2rem;
  }

  .dropdown-menu--white {
    border     : none;
    box-shadow : none;
  }
}

@media screen and (max-width : 575px) {
  .header {
    padding : 0 3rem !important;
  }
}

/* Lines */
.line-top {
  position   : relative;
  visibility : hidden;
  margin     : 0;
  top        : 5rem;
}

.line-bottom {
  position   : relative;
  visibility : hidden;
  margin     : 0;
  top        : 20rem;
}

/* section about */
.sectionAbout {
  min-height : 40rem;
  margin-top : 5rem;
}

.sectionAbout .col-lg:nth-child(1) {
  position : absolute;
  top      : 20%;
}

.sectionAbout-heading {
  display       : block;
  margin-bottom : 2rem;
  font-size     : 2.7rem;
  font-weight   : 300;
  color         : #401577;
  line-height   : 1;
}

.sectionAbout-heading span {
  display : block;
}

.sectionAbout-texts {
  height      : 60px;
  text-align  : center;
  overflow    : hidden;
  line-height : 25px;
  position    : relative;
  display     : flex;
}

.sectionAbout-texts span {
  font-size   : 3rem;
  font-weight : bold;

  position    : absolute;
  top         : 50%;
  transform   : translateY(-50%);
}

.sectionAbout-maven {
  color : rgb(180, 34, 34);
}

.sectionAbout-python {
  color   : rgb(197, 135, 19);
  opacity : 0;
}

.sectionAbout-npm {
  color   : green;
  opacity : 0;
}

@media screen and (max-width : 991px) {
  .sectionAbout .col-lg {
    display         : flex;
    justify-content : center !important;
    width           : 100% !important;
  }

  .sectionAbout .col-lg:nth-child(1) {
    position       : relative;

    display        : flex;
    flex-direction : column;
    align-items    : center;
  }

  .sectionAbout {
    margin-top : 9rem;
  }

  .sectionAbout-heading,
  .sectionAbout-buttons {
    width      : 100%;
    text-align : center;
  }

  .sectionAbout-texts {
    justify-content : center;
  }
}

@media screen and (max-width : 575px) {
  .sectionAbout-heading,
  .sectionAbout-buttons {
    width     : 100%;
    font-size : 2rem;
  }

  .sectionAbout-heading span:nth-child(2) {
    font-size : 2.2rem;
  }

  .sectionAbout-texts {
    height : 40px;
  }

  .sectionAbout-texts span {
    font-size : 2.2rem;
  }
}

@media screen and (max-width : 370px) {
  .sectionAbout-buttons {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    height          : 8rem;
  }

  .sectionAbout-buttons .button {
    width : 60%;
  }

  .sectionAbout-buttons .button:first-child {
    margin-right : 0;
  }
}

/* common button*/
.button,
.button:link,
.button:visited {
  display          : inline-block;
  background-color : #9C95AC;
  color            : #FFFFFF;
  border-radius    : 2rem;
  font-size        : 1.2rem;
  padding          : 0.5rem 2.5rem;
  border           : none;
  text-transform   : uppercase;
  text-decoration  : none;
  box-shadow       : 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline          : none;
  cursor           : pointer;
  transition       : all 0.2s;
}

.button:hover,
.button:active {
  box-shadow : 0 2px 1rem 4px rgba(0, 0, 0, 0.2);
  transform  : scale(1.1);
  color      : var(--color-white);
}

.button:first-child {
  margin-right : 1rem;
}

.button--white,
.button-white:link,
.button-white:visited {
  background-color : #FFFFFF !important;
  color            : #5B5867 !important;
}

.button--white:hover,
.button--white:active {
  color : #5B5867;
}

.button--middle {
  font-size      : 1rem !important;
  padding        : 0.3rem 1rem !important;
  letter-spacing : 1px;
}

/*section features*/

.sectionFeatures > .container-fluid {
  background-color : #9D93AC;
}

.sectionFeatures > h2 {
  display       : inline-block;
  text-align    : center;
  margin-bottom : 2rem;

  position      : relative;
}

.sectionFeatures > h2::before {
  content          : "";
  width            : 13rem;
  height           : 3px;
  background-color : var(--color-primary);

  position         : absolute;
  left             : -20%;
  top              : -8px;
}

.sectionFeatures > h2::after {
  content          : "";
  width            : 13rem;
  height           : 3px;
  background-color : var(--color-primary);

  position         : absolute;
  right            : -20%;
  bottom           : -8px;
}

.sectionFeatures-feature {
  height           : 16rem;
  padding          : 2rem 1rem;
  border-radius    : 1rem;
  background-color : #9389A8;
  box-shadow       : 0 2px 5px #00000066;

  color            : --color-white;

  display          : flex;
  flex-direction   : column;
  align-items      : center;
}

@media screen and (max-width : 575px) {
  .sectionFeatures .col {
    display         : flex;
    justify-content : center;
  }

  .sectionFeatures-feature {
    width : 75%;
  }

  .sectionFeatures > h2::before {
    width  : 6rem;
    height : 3px;
  }

  .sectionFeatures > h2::after {
    width  : 6rem;
    height : 3px;
  }
}

.sectionFeatures-icon {
  flex-shrink : 0;
  width       : 4.5rem;
  height      : 4.5rem;
}

.sectionFeatures-heading {
  font-size : 1.1rem;
  color     : #ECECEC;
}

.sectionFeatures p {
  font-size  : 0.9rem;
  text-align : center;
  color      : #DBDBDB;
}

/* section matrix */
.sectionMatrix {
  min-height : 90rem;
  position   : relative;
}

.matrix {
  background-color : var(--color-white);
  box-shadow       : 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius    : 2.5rem;
  margin-top       : 20rem;

  position         : relative;
  z-index          : 2;
}

.matrix .col {
  padding         : 2rem;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.matrix .col:first-child .sectionMatrix-icon {
  transform : scale(1.4);
}

.sectionMatrix-heading {
  position    : absolute;
  top         : 12rem;
  right       : 45%;
  transform   : translateX(50%);
  white-space : pre;
}

.sectionMatrix-icon {
  width  : 7rem;
  height : 7rem;
}

.sectionMatrix-bg-1 {
  position : absolute;
  left     : 0;
  top      : -1%;
}

.sectionMatrix-bg-2 {
  position : absolute;
  top      : 48%;
  right    : 0;
}

.registrationForm {
  width           : 70%;
  height          : 90%;

  font-size       : 1.3rem;

  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}

.registrationForm-group {
  position : relative;
}

.registrationForm-input {
  width         : 100%;
  display       : block;
  border        : none;
  background    : none;
  font-family   : inherit;
  font-size     : inherit;
  padding       : 0.5rem;
  border-bottom : 2px solid var(--color-primary);

  transition    : all 0.2s;
}

.registrationForm-input::-webkit-input-placeholder {
  color : rgba(17, 2, 2, 0.3);
}

.registrationForm-input:focus {
  background-color : rgba(215, 209, 228, 0.3);
  outline          : none;
  border-color     : var(--color-font);
}

.registrationForm-input:focus::-webkit-input-placeholder {
  color : transparent;
}

.registrationForm-label {
  color      : var(--color-font);
  font-size  : inherit;
  visibility : hidden;
  opacity    : 0;
  position   : absolute;
  left       : 3%;
  top        : 20%;

  transition : all 0.2s;
}

.registrationForm-button {
  display          : block;
  width            : 100%;
  background-color : var(--color-primary);
  color            : var(--color-white);
  border-radius    : 2rem;
  font-size        : 1.2rem;
  padding          : 0.5rem 0;
  border           : none;
  text-transform   : uppercase;
  box-shadow       : 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor           : pointer;
  transition       : all 0.2s;
}

.registrationForm-button:hover,
.registrationForm-button:active {
  outline    : none;
  box-shadow : 0 2px 1rem 4px rgba(0, 0, 0, 0.2);
  transform  : scale(1.1);
}

.registrationForm-input:focus + .registrationForm-label {
  visibility : visible;
  opacity    : 1;
  top        : -1rem;
  font-size  : 0.9rem;
}

.registrationForm p {
  font-size : 1rem;
  color     : rgba(17, 2, 2, 0.6);
}

.registrationForm-signinBtn {
  color : var(--color-primary);
}

.registrationForm-signinBtn:hover,
.registrationForm-signinBtn:active {
  color : var(--color-black);
}

.sectionMatrix-formContainer {
  min-height : 25rem;
  position   : relative;
  z-index    : 2;
  margin-top : 9rem;
  text-align : center;
}

.sectionMatrix-formContainerLeft {
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}

.sectionMatrix-subHeading {
  color      : inherit;
  text-align : center;
}

.sectionMatrix-subHeading > span {
  font-weight   : bold;
  border-bottom : 3px solid var(--color-primary);
}

.sectionMatrix-formContainerRight {
  padding-top : 11rem;
  font-size   : 0.8rem;
  text-align  : right;
}

.sectionMatrix-text {
  font-size      : 1.2rem !important;
  text-transform : uppercase;
}

.sectionTestimonial {
  min-height       : 42rem;
  padding          : 5rem 2rem;
  background-color : #F2F1F6;

  display          : flex;
  flex-direction   : column;
  justify-content  : space-between;
}

.sectionTestimonial-heading {
  display       : inline-block;
  width         : fit-content;

  border-bottom : 3px solid var(--color-primary);
}

.swiper-container {
  width            : 100%;
  min-height       : 20rem;
  border-radius    : 15px;
  background-color : var(--color-white);
  box-shadow       : 2px 2px 10px 2px rgba(0, 0, 0, 0.2);

  overflow: hidden !important;
  position: relative !important;
  display          : flex;
  flex-direction   : column;
  justify-content  : space-between;
  align-items      : center;
}

.swiper-slide {
  text-align       : center;
  font-size        : 1rem;
  color            : rgba(0, 0, 0, 0.7);
  padding          : 1rem 0 0.5rem 0;
  border-radius    : 15px;
  background-color : var(--color-white);

  display          : flex;
  flex-direction   : column;
  justify-content  : center;
  align-items      : center;

  position         : relative !important;
}

.swiper-pagination-bullet-active {
  opacity          : 1;
  background       : var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color : var(--color-primary);
}

.sectionTestimonial-customer {
  width       : 70%;
  font-size   : 13px;
  font-weight : bold;
  color       : var(--color-font);

  text-align  : right !important;
}

.sectionTestimonial-comment {
  width         : 75%;
  margin-bottom : 2rem;
  color         : rgb(59, 59, 59);
}

.mySwiper-quote {
  position : absolute;
  z-index  : 5;
  width    : 3.5rem;
  height   : 3.5rem;
  fill     : var(--color-primary);
  opacity  : 0.3;
}

.mySwiper-quoteLeft {
  left      : 5%;
  top       : 5%;
  transform : rotate(180deg);
}

@media screen and (min-width : 2000px) {
  .sectionMatrix > .container {
    position : relative;
  }
}

@media screen and (max-width : 991px) {
  .sectionMatrix-heading {
    font-size : 2.2rem;
  }
}

@media screen and (max-width : 767px) {
  .sectionMatrix-heading {
    right     : 50%;
    transform : translateX(80%);
  }

  .registrationForm {
    width  : 100%;
    height : 20rem;
  }

  .sectionMatrix-formContainerRight {
    padding-top : 2rem;
  }

  .sectionMatrix-bg-2 {
    top : 55%;
  }
}

@media screen and (max-width : 575px) {
  .sectionMatrix-bg-1,
  .sectionMatrix-bg-2 {
    display : none;
  }

  .sectionMatrix > .container {
    width : 70%;
  }

  .sectionMatrix-heading {
    font-size : 1.5rem;
    top       : 5rem;
    right     : 50%;
    transform : translateX(50%);
  }

  .sectionMatrix-formContainer {
    margin-top : 5rem;
  }

  .matrix {
    margin-top : 10rem;
  }

  .matrix > .row {
    padding : 1rem 0;
  }

  .matrix .col {
    padding    : 0 !important;
    margin-top : 2.5rem;
  }
}

/* footer */
.footer {
  background-color : #3F3750;

}

.footer > .container {
  min-height : 40.1rem;
  padding    : 6rem 0 2rem 0;
}

.footerTop {
  width     : 75%;
  transform : translateX(5rem);
}

.footerHeading {
  margin-bottom : 1.5rem;
  font-weight   : bold;
  font-size     : 1.3rem;
  color         : var(--color-white);

  align-self    : start;
}

.footerList {
  list-style   : none;
  line-height  : 1.25;
  padding-left : 0;
}

.footerItem {
  margin-bottom : 0.5rem;
  font-size     : 1.1rem;
  text-indent   : 1.5rem;

  position      : relative;
}

.footerItem::before {
  content          : "";
  height           : 2px;
  width            : 7px;
  background-color : var(--color-white);

  position         : absolute;
  left             : 5%;
  top              : 50%;
  transform        : translateY(-50%);
}

.footerLink:link,
.footerLink:visited {
  text-decoration : none;
  color           : var(--color-white);
}

.footerLink:hover,
.footerLink:active {
  color : #C5C5C5;
}

.footerBottom-links {
  text-align  : right;
  line-height : 1;
  font-size   : 1.3rem;
  position    : relative;
}

.footerBottom-links a:link,
.footerBottom-links a:visited {
  display         : block;

  text-decoration : none;
  color           : var(--color-white);
}

.footerBottom-links a:hover,
.footerBottom-links a:active {
  color : #C5C5C5;
}

.footerLogo {
  width    : 12rem;
  height   : 4rem;

  position : absolute;
  left     : -5%;
  top      : 4.5rem;
}

.socialMedia {
  display     : flex;
  align-items : flex-end;
}

.socialMedia-link,
.socialMedia-link:link,
.socialMedia-link:visited {
  display      : inline-block;
  margin-right : 0.7rem;
}

.socialMedia-icon {
  width      : 2.2rem;
  height     : 2.2rem;
  fill       : rgba(255, 255, 255, 0.7);

  transition : all 0.2s ease-out;
}

.socialMedia-link:hover .socialMedia-icon,
.socialMedia-link:active .socialMedia-icon {
  transform : scale(1.1);
  filter    : drop-shadow(0 5px 1rem rgba(255, 255, 255, 0.5));
}

@media screen and (max-width : 991px) {
  .footerLogo {
    left : -2%;
  }

  .footerList {
    width : 100% !important;
  }
}

@media screen and (max-width : 767px) {
  .footerTop {
    margin-top : 5rem;
  }
}

@media screen and (max-width : 575px) {
  .footerTop {
    margin-top : 8rem;
    transform  : translateX(0);
  }

  .footerTop .col {
    margin-bottom : 2.5rem;
  }

  .footerLogo {
    left : 10%;
  }

  .footerHeading {
    align-self    : center;
    font-size     : 1.5rem;
    margin-bottom : 0.5rem;
    border-bottom : 2px solid var(--color-white);
  }

  .footerList {
    display        : flex;
    flex-direction : column;
    align-items    : center;
  }

  .footerBottom-links {
    position  : relative;
    right     : 15%;
    font-size : 1rem;
  }

  .socialMedia {
    position : relative;
    left     : 15%;
  }
}

/* section pricing */

.sectionPricing {
  margin : 6rem 0 8rem 0;
}

.sectionPricing .col {
  height : 30rem;
}

.sectionPricing-heading {
  font-size     : 2.8rem;
  color         : rgba(17, 2, 2, 0.6);
  margin-bottom : 1.5rem;
}

.sectionPricing-text {
  font-size   : 1.8rem;
  line-height : 1.3;
  width       : 80%;
}

.sectionPricing-image {
  transform : translateX(-9rem);
}

.sectionPricingCards {
  min-height : 42rem;
}

.pricingCard {
  height           : 33rem;
  padding          : 1rem 0.5rem;
  box-shadow       : 0 2px 10px 3px rgba(0, 0, 0, 0.3);
  text-align       : center;
  background-color : #F1EFEF;
  border-radius    : 20px;

  display          : flex;
  flex-direction   : column;
  justify-content  : space-around;
  align-items      : center;

  transition       : all 0.3s;

  position         : relative;
}

.pricingCard-ribbon {
  position   : absolute;
  left       : 0;
  top        : 0;
  z-index    : 1;
  overflow   : hidden;
  width      : 120px;
  height     : 120px;
  text-align : center;
}

.pricingCard-ribbon span {
  width            : 170px;
  font-family      : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size        : 18px;
  padding          : 5px 0;
  letter-spacing   : 2px;
  font-weight      : bold;

  background-color : rgb(226, 74, 74);
  color            : white;
  text-transform   : uppercase;
  box-shadow       : 0 3px 10px -5px var(--color-black);
  transform        : rotate(-46deg);
  position         : absolute;
  top              : 25px;
  left             : -40px;
}

.pricingCard-title {
  flex           : 0 27%;

  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.pricingCard-icon {
  height        : 3rem;
  width         : 3rem;
  fill          : var(--color-primary);
  margin-bottom : 0.5rem;
}

.pricingCard h3 {
  font-size     : 1.8rem;
  margin-bottom : 0.5rem;
}

.pricingCard p {
  font-size : 1.4rem;
}

.pricingCard-price {
  flex            : 0 25%;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.pricingCard-price b {
  font-size : 2rem;
}

.pricingCard-features {
  flex            : 0 25%;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;

  line-height     : 1;
}

.pricingCard-features span {
  font-size     : 0.9rem;
  opacity       : 0.7;
  margin-bottom : 0.5rem;
}

.pricingCard--active {
  background-color : var(--color-primary);
  color            : var(--color-white);
}

.pricingCard--active .pricingCard-icon {
  fill : var(--color-white);
}

.pricingCard > .button--active {
  background-color : var(--color-white);
  color            : var(--color-primary);
}

.pricingCard:hover,
.pricingCard:active {
  background-color : var(--color-primary);
  color            : var(--color-white);
}

.pricingCard:hover .pricingCard-icon,
.pricingCard:active .pricingCard-icon {
  fill : var(--color-white);
}

.pricingCard:hover .button,
.pricingCard:active .button {
  background-color : var(--color-white);
  color            : var(--color-primary);
}

.sectionPricingTable {
  margin-bottom : 10rem;
}

.tablePrice {
  height           : 7rem;
  padding          : 0.5rem 1rem;
  line-height      : 1.2;
  overflow         : hidden;
  color            : var(--color-white);
  background-color : var(--color-primary);
  border-bottom    : 1px solid rgba(0, 0, 0, 0.3);
  border-right     : 1px solid rgba(0, 0, 0, 0.3);

  position         : relative;
}

.tablePrice-icon {
  position : absolute;
  top      : 5%;
  right    : 5%;

  fill     : var(--color-white);
  width    : 3rem;
  height   : 3rem;
}

.tablePrice-name {
  font-size : 1.1rem;
}

.tablePrice-price {
  font-size   : 2rem;
  font-weight : bold;
}

.tablePrice-price--small {
  font-size : 1.2rem;
}

.tablePrice-text {
  font-size : 0.9rem;
}

.tableFeaturesList ul {
  list-style : none;
  padding    : 0;
}

.tableFeaturesList li {
  font-size       : 1.2rem;
  height          : 5rem;
  padding         : 5px 10px;
  border-right    : 1px solid rgba(0, 0, 0, 0.3);
  border-bottom   : 1px solid rgba(0, 0, 0, 0.3);

  display         : flex;
  justify-content : center;
  align-items     : center;
}

.tableFeaturesList ul li:nth-child(odd) {
  background-color : rgba(156, 149, 172, 0.2);
}

.tableFeaturesList li:first-child {
  align-items      : center;

  height           : 7rem;
  font-size        : 1.5rem;
  background-color : var(--color-primary) !important;
  color            : var(--color-white);
}

.tableFeatures ul {
  list-style : none;
  padding    : 0;
  margin     : 0;
  text-align : center;
}

.tableFeatures li {
  height          : 5rem;
  border-right    : 1px solid rgba(0, 0, 0, 0.3);
  border-bottom   : 1px solid rgba(0, 0, 0, 0.3);

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.tableFeatures ul li:nth-child(even) {
  background-color : rgba(156, 149, 172, 0.2);
}

.tableFeatures-title {
  padding   : 5px 0;
  font-size : 14px;
}

.tick {
  font-size : 2rem;
  color     : green;
}

.cancel {
  font-size : 2rem;
  color     : red;
}
.x-icon{
  width: 1.5rem;
  height: 1.5rem;
}

.tableAction {
  display         : flex;
  height          : 5rem;
  border-right    : 1px solid rgba(0, 0, 0, 0.3);

  display         : flex;
  justify-content : center;
  align-items     : center;
}

.tableAction-link,
.tableAction-link:link,
.tableAction-link:visited {
  font-size       : 1.2rem;
  text-decoration : underline;

  color           : rgba(0, 0, 0, 0.7) !important;
  font-weight     : bold;

  display         : flex;
  justify-content : center;
  align-items     : center;

  transition      : all 0.2s;
}

.tableAction-link:hover,
.tableAction-link:active {
  color     : var(--color-font) !important;
  transform : scale(1.1);
}

.tableLastList .tablePrice,
.tableLastList .tableFeatures li,
.tableLastList .tableAction {
  border-right : none;
}

.sectionGotaQuestion {
  min-height : 28rem;
}

.sectionGotaQuestion h1 {
  font-size      : 2.2rem;
  text-transform : uppercase;
  margin-bottom  : 5px;
}

.sectionGotaQuestion h2 {
  font-size     : 1.6rem;
  margin-bottom : 10px;
}

.messageForm {
  padding   : 1rem;
  font-size : 1.3rem;
}

.messageForm-input {
  width         : 90%;
  display       : block;
  background    : none;
  font-family   : inherit;
  font-size     : inherit;
  padding       : 0.5rem;
  border        : 2px solid var(--color-primary);
  border-radius : 10px;
  margin-bottom : 1rem;
  transition    : all 0.2s;
}

.messageForm-input::-webkit-input-placeholder {
  color : rgba(17, 2, 2, 0.3);
}

.messageForm-input:focus {
  background-color : rgba(#d7d1e4, 0.3);
  outline          : none;
  border-color     : var(--color-font);
}

.messageForm-input:focus::-webkit-input-placeholder {
  color : transparent;
}

.messageForm-textarea {
  resize : none;
}

.messageForm-button {
  display          : block;
  background-color : var(--color-primary);
  color            : var(--color-white);
  border-radius    : 2rem;
  font-size        : 1.2rem;
  padding          : 0.5rem 0;
  width            : 12rem;
  border           : none;
  text-transform   : uppercase;
  box-shadow       : 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor           : pointer;
  transition       : all 0.2s;
}

.messageForm-button:hover,
.messageForm-button:active {
  outline    : none;
  box-shadow : 0 2px 1rem 4px rgba(0, 0, 0, 0.2);
  transform  : scale(1.1);
}

.messageForm-span {
  display    : block;
  margin-top : 15px;
  color      : red;
}

@media screen and (max-width : 991px) {
  .tablePrice,
  .tableFeatures li,
  .tableAction {
    border-right : none;
  }

  .tableFeatures-title {
    padding : 1px 0;
  }
}

@media screen and (max-width : 767px) {
  .sectionPricing {
    margin : 9rem 0 3rem 0;
  }

  .sectionPricing .col {
    height     : auto !important;
    text-align : center;
  }

  .sectionPricing .col:last-child {
    padding         : 0;
    display         : flex;
    justify-content : center !important;
  }

  .sectionPricing p {
    width : 100%;
  }

  .sectionPricing-image {
    transform : translate(0);
  }

  .sectionPricingTable {
    margin-bottom : 5rem;
  }

  .sectionGotaQuestion .col:first-child {
    text-align : center;
  }

  .messageForm {
    display        : flex;
    flex-direction : column;
    align-items    : center;
  }

  .messageForm-button {
    width : 90%;
  }

  .tablePrice-icon {
    top       : 50%;
    transform : translateY(-50%);
  }
}

/* About Page */

.sectionAboutUs {
  margin : 6rem 0 8rem 0;
}

.sectionAboutUs-heading {
  font-size     : 2.8rem;
  color         : rgba(17, 2, 2, 0.6);
  margin-bottom : 1.5rem;
}

.sectionAboutUs-text {
  font-size   : 1.4rem;
  line-height : 1.3;
  width       : 80%;
  font-weight: 300;
}

.sectionAboutUs-image {
  transform : translateX(-4rem);
}

.sectionVision {
  min-height    : 25rem;
  text-align    : center;
  margin-bottom : 4rem;
}

.sectionVision .col {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.sectionVision-heading {
  font-size      : 2rem;
  text-transform : uppercase;
  margin-bottom  : 1.2rem;
}

.sectionVision-vision {
  font-size   : 1rem;
  line-height : 1.5;
  font-weight : 500;
  width       : 80%;
}

@media screen and (max-width : 992px) {
  .sectionAboutUs {
    margin-top : 9rem;
  }
}

@media screen and (max-width : 767px) {
  .sectionAboutUs .col {
    text-align : center;
  }

  .sectionAboutUs .col:last-child {
    padding         : 0;
    display         : flex;
    justify-content : center !important;
  }

  .sectionAboutUs-text {
    width : 100%;
  }

  .sectionAboutUs-image {
    transform : translate(0);
  }
}

/*Common pages(career,privacypolicy,terms and conditions)*/
.wave {
  position : absolute;
  top      : 0;
}

.waveContainer .container {
  position : relative;
  top      : 3rem;
  z-index  : 2;
}

.waveContainer-box {
  /*  color      : var(--color-white);*/
  color:var(--color-black);
  margin-top : 5rem;
  width      : 100%;
}

.waveContainer-heading {
  font-size      : 1.7rem;
  text-transform : uppercase;
}

.waveContainer-text {
  float       : left;
  width       : 80%;
  text-align  : justify;
  font-size   : 1.2rem;
  height      : 3rem;
  line-height : 3rem;
}

.waveContainer-icon {
  width        : 3rem;
  height       : 3rem;
  float        : left;
  margin-right : 1rem;
}

.commonPages {
  margin-top : 1.5rem;
}

.commonPages h5 {
  color       : var(--color-black);
  font-weight : bold;
}

.commonPages-heading {
  font-size : 1.8rem;
}

.commonPages-text {
  font-size   : 1.2rem;
  text-align  : justify;
  line-height : 1.5rem;
}
.career-page-text{
  font-size   : 1.2rem;
  text-align  : justify;
  line-height : 25px;
  font-weight: 400;
  width: 80%;
}
.career-page-header{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.career-gray-bold{
  color:#9C95AC;
  font-weight: bold;
  font-size: 1.7rem;
}
.career-header{
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color:var(--color-black);
}
.career-job-header{
  font-size: 1.8rem;
  margin-bottom: 1.1rem;
  font-weight: 600;
  color:#9C95AC;
}
.contact-icon{
  width: 1.8rem;
}
.contact-bold-header{
  font-weight: bold;
  font-size: 1.5rem;
}
.commonPages-buttons {
  width           : 28%;

  display         : flex;
  justify-content : space-between;
}

@media screen and (max-width : 992px) {
  .wave {
    transform : scaleY(1.5);
  }
}

@media screen and (max-width : 767px) {
  .waveContainer {
    margin : 0;
  }

  .waveContainer-box {
    width      : 100%;
    margin-top : 3rem;
  }

  .waveContainer-heading {
    font-size : 1.3rem;
  }

  .wave {
    transform : scaleY(1.5);
  }

  .commonPages {
    margin-top : 4.5rem;
  }
}

@media screen and (max-width : 575px) {
  .wave {
    transform : scaleY(2.2);
  }

  .waveContainer-box {
    padding-left : 2rem;
  }
}

@media screen and (max-width : 445px) {
  .wave {
    transform : scaleY(3);
  }

  .waveContainer-heading {
    font-size : 1.5rem;
  }

  .waveContainer-text {
    height      : 1rem;
    line-height : 1;
  }

  .commonPages-buttons {
    width          : 100%;
    flex-direction : column;
    align-items    : center;
  }

  .button:first-child {
    margin-right  : 0;
    margin-bottom : 10px;
  }
}

@media screen and (max-width : 375px) {
  .wave {
    transform : scaleY(3.5);
  }

  .waveContainer-box {
    margin-top : 2.5rem;
  }
}

@media screen and (max-width : 300px) {
  .wave {
    transform : scaleY(5);
  }

  .waveContainer-text {
    font-size : 1rem;
  }
}

.back-to-top {
  display  : none;
  cursor   : pointer;
  filter   : drop-shadow(0 8px 10px rgba(0, 0, 0, 0.4));

  width    : 2.2rem;
  height   : 2.2rem;
  fill     : #BDB9C5;

  position : fixed;
  right    : 0.5%;
  bottom   : 3%;
}

.back-to-top:hover,
.back-to-top:active {
  fill : #BDD360;
}
