.career-privacy {
  height: 40rem;


  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    width: 80%;
    height: 70%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    font-size: 1.8rem;
  }

  &__text {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;

  }


}
